<!DOCTYPE html>
<html lang="en-US">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>About</title>
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>
        <div class="container">
            <h1 class="title">
                Who am I ?
            </h1>
            <p>
                This is a blog that gives a journey of me becoming a software engineer. I decided to document every step so that when times are rough
                I can look back and see how far I have come.
            </p>
        </div>
    </body>
</html>


